# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# NetRW history file
.netrwhist

# Have to distribute/build this one separately
.vim/bundle/YouCompleteMe/python/ycm_core.so

# Let's not keep vim swap files across machines
.vim/swaps/

.vim/undo/*
